p {
    margin: 0;
}

.weather {
    background-color: aqua;
    margin: 0 auto;
    width: 100%;
}

header {
    background-color: #000;
    color: white;
    padding: 10px 15px;
}

.content {
    padding: 10px;
}

#city-name {
    padding: 10px;
    width: 40%;
    font-size: 16px;
}

#btn {
    background-color: #8b0000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

#result {
    margin-top: 10px;
}

#loading,
#error {
    display: none;
}
